@import "tailwindcss";

:root {
    --background: #007bff;
    --foreground: #181818;
    --secondary: #0004ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-fasterOne: var(--font-faster-one);
  --font-electrolize: var(--font-electrolize);
}

html{
  scroll-behavior: smooth;
}
body{
  background: var(--background);
}

/*
UNDERLINE EFFECT ON HOVER
*/

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}
